# Ignore Magento 2 specific directories
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.idea
/.php_cs.cache
/.php_cs
/.vscode
/.deployed_version
/.deploy_view_preprocessed
/.idea/
/.modman
/.project
/.settings
/.svn/
/.vscode
/.vagrant/
/.vs/
/.docker
/app/etc/config.php
/app/etc/env.php
/app/code/*/registration.php
/app/code/*/etc/module.xml
/app/design/frontend/*/web/css/source/_extend.less
/app/design/frontend/*/web/css/source/_theme.less
/app/design/frontend/*/web/css/source/lib/
/app/design/frontend/*/web/css/source/_module.less
/app/design/frontend/*/web/js/
/bin/
/dev/
/errors/
/generated/
/grunt-config.json
/gruntfile.js
/htdocs/
/index.php
/pub/
/setup/
/update/
/var/
/vendor/
/.htaccess
composer.json
composer.lock
node_modules/
package.json
